
/* basic colors used in the site*/
.red {
    background-color: #EF7824;
    height: 100vh;
    
}

.yellow {
    background-color: #FFCC2F;
    height: 100vh;
    opacity: .6;
}

.green {
    background-color: #83B869;
    height: 100vh;
    
}


/*grid setup goes here */

.half {
    height: 50vh;
    position: absolute;
    overflow: hidden;
}


.half2 {
    height: 50vh;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}



.bg-code {
    position: absolute;
    z-index: 5;
}
.bg-design {
    position: absolute;
    z-index: 5;
}