    <div id="div1" class="col-lg-12 half">
        <img class="bg-design" src="../img/husky.jpg" alt="nothing"/>
    </div>

    
    
    <div id="div2" class="col-lg-12 half2">
       <img class="bg-code" src="../img/background-code.png" alt="nothing"/>
    </div>

<script>
    document.getElementById("div2").onmouseover = function(){
        this.style.height = "80vh";
        this.style.transition = "height 2s";
    
        document.getElementById("div1").style.height = "20vh";
        document.getElementById("div1").style.transition = "height 2s";
}
    document.getElementById("div1").onmouseover = function(){
        this.style.height = "80vh";
        this.style.transition = "height 2s";
    
        document.getElementById("div2").style.height = "20vh";
        document.getElementById("div2").style.transition = "height 2s";
}
</script>